---
import not_found from "@assets/png/not_found.png";
import { Image } from "astro:assets";
---

<div class="h-[500px] w-full">
  <Image class="mx-auto" src={not_found} alt="construction" />
</div>
<h1 class="text-center">Page not found</h1>
